<%= render 'lists' %>

<h1 class="grid_7"><%= @list.name %></h1>
<div class="grid_2">
  <%= link_to 'Edit', edit_list_path(@list), :class => "button" %>
  <%= link_to 'Delete', @list, :confirm => 'Are you sure?', :method => :delete, :class => "button" %>
</div>
<div class="grid_6">
  <ul class="tasks">
    <% @list.tasks.each do |task| %>
      <li class="<%= task.complete ? 'complete' : ''%>">
        <%= check_box_tag "complete[#{task.id}]", true, task.complete, :rel => complete_task_path(@list.id,task.id) %>
        <label for="<%= "complete_#{task.id}" %>">
          <%= task.name %>
          <% if task.due? %>
            <strong class="due">(<%= task.due %>)</strong>
          <% end %>
        </label>
        <%= link_to 'Delete', [@list, task], :confirm => 'Are you sure?', :method => :delete, :class => "button small right" %>
        <%= link_to 'Edit', edit_list_task_path(@list, task), :class => "button small right" %>
      </li>
    <% end %>
  </ul>
  
  <%= form_for [@list, @task] do |form| %>
    <%= form.text_field :name, :placeholder => "New Task", :class=>'new' %> <%= form.text_field :due, :type=>'date', :class=>'datepicker', :placeholder => "Date Due" %> <%= form.submit %>
  <% end %>
</div>

<div class="grid_3">
  <h5>Collaborators</h5>
  
  <ul class="collaborations">
    <!-- I do not know how to fix this association -->
    <% @list.collaborations.each do |collaboration| %>
      <li>
        User ID: <%= collaboration.user_id %>
        <% #link_to 'Delete', [@list, collaboration], :confirm => 'Are you sure?', :method => :delete, :class => "button small right" %>
      </li>
    <% end %>
  </ul>
  
  <%= form_for [@list, @collaboration] do |f| %>
    <%= select "collaboration", "user_id", User.all.collect {|u| [ u.name, u.id ] } %> <%= f.submit "Add" %>
  <% end %>
</div>